@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	outline: none;
}
body{
	min-height: 100vh;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(./img/bg.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}
canvas{
	margin: 0 !important;
	border-radius: 30px;
	background: #ffffff;
}
footer p{
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	color: #000;
}
.toolbox{
	position: absolute;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(153deg, rgba(205,16,32,1) 0%, rgba(109,0,251,1) 20%, rgba(0,241,251,1) 40%, rgba(22,251,0,1) 60%, rgba(250,251,0,1) 80%, rgba(251,0,203,1) 100%);
	height: 100%;
	padding: 1rem;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
span,
button{
	background: transparent;
	color: #ffffff;
	width: 65px;
	height: 65px;
	font-size: 1.5rem;
	border: 2px solid #ffffff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	cursor: pointer;
	transition: 0.5s;
	font-weight: bold;
}
span{
	pointer-events: none;
}
button:hover{
	color: #000000;
	background: #ffffff;
}
input{
	background: transparent;
	color: #ffffff;
	padding: 1.8rem;
	margin: 1rem;
	font-size: 0.5rem;
	border-radius: 50%;
	border:2px solid #fff;
	font-weight: bold;
	font-size: 0rem;
	cursor: pointer;
	transition: 0.5s;
}
input::before{
	font-family: "Font Awesome 5 Free";
	content: "\f53f";
	position: absolute;
	font-size: 1.5rem;
	left: 50%;
	top: 56%;
	transform: translateX(-50%);
}
input::before:hover{
	background: #ffffff;
	color: #000000;
}
input:hover{
	color: #000000;
	background: #ffffff;
}
.toolbox_2{
	position: absolute;
	left: 0;
	background: linear-gradient(153deg, rgba(205,16,32,1) 0%, rgba(109,0,251,1) 20%, rgba(0,241,251,1) 40%, rgba(22,251,0,1) 60%, rgba(250,251,0,1) 80%, rgba(251,0,203,1) 100%);
	height: 100%;
	padding: 3.6rem;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}